*{
    font-family: Arial;
}


.container-main.container-cart {
  padding-left: 15px !important;
    padding-right: 15px !important;
}
body {
  padding: 0px !important;
}
.accordion-toggle{
    color: #1A4176 !important;
    font-weight: 600;
    font-family: Arial !important
}

.step.accordion-group {
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 15px;
}

input {
    border-radius: 25px !important;
    border: solid 1px rgb(235, 235, 235) !important;
}

.submit.btn-submit-wrapper {
    text-align: center;
}

#go-to-shipping, #btn-go-to-payment, #payment-data-submit, #go-to-payment {
    font-weight: 500;
    font-size: 20px;
    background-color: #1A4176 !important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
    text-align: center;
    border-radius: 25px;
   
}
.client-notice {
    color: #4F4F4F !important;
}
.step .text label, .step .select label {
    color: #4F4F4F !important;
    font-weight: bold;
    margin-bottom: 4px;
}

.vtex-omnishipping-1-x-leanShippingGroupList {
    border: none !important;
}


.vtex-omnishipping-1-x-addressItemOption:hover, .vtex-omnishipping-1-x-active,.vtex-omnishipping-1-x-option:hover {
    background: #F5F5F5 !important;
    border-radius: 15px;
    border: none;
}

#payment-group-bankInvoicePaymentGroup .payment-group-item-text {
    font-weight: bold;
    color: #434343;
}

.payment-data .steps-view, .payment-data .gift-card-section, .payment-data .payment-discounts-alert{
    background: white;
}

#orderform-title{
    font-weight: bold;
    font-size: 22px;
    color: #454545;
}

.vtex-omnishipping-1-x-summaryChange, .vtex-omnishipping-1-x-buttonEditAddress, .vtex-omnishipping-1-x-buttonCreateAddress, .vtex-omnishipping-1-x-backToAddressList{
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 15px;
    color: #4F4F4F !important;
    font-weight: 600;
}


.vtex-omnishipping-1-x-leanShippingOptionActive {
    background: white !important;
    border-radius: 25px !important;
    border: solid 1px rgb(235, 235, 235) !important;
}

.vtex-omnishipping-1-x-leanShippingTextLabel {
    font-size: 11px !important;
    color: #4F4F4F !important;
}

.shp-option-text-price.vtex-omnishipping-1-x-optionPrice {
    color: #4F4F4F !important;
    font-weight: 600;
}

.vtex-omnishipping-1-x-leanShippingText {
    border-right: none !important;
}

.mini-cart h2 {
    background: white;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    color: rgb(26, 65, 118) !important;
    font-family: Arial !important;
    padding: 15px;
}

.cart-fixed{
    border: 1px solid rgb(235, 235, 235) !important;
    border-radius: 15px;
    height: auto !important;
}

.mini-cart .price {
    color: #4F4F4F !important;
    font-weight: 600;
}

.mini-cart .item .fn {
    white-space: initial !important;
    color: #4F4F4F !important;
}

.mini-cart .item, .mini-cart .summary-template-holder {
    border-top: none !important;
}

#payment-data-submit i  {
    display: none;
}

table.table, .mini-cart .summary-template-holder{
    background-color: white !important;
}

.mini-cart .url {
    border: solid 1px #08c;
    border-radius: 12px;
    padding: 3px;
}

.mini-cart .table tfoot {
    background-color: #D6D6D6;
}

.mini-cart .table tfoot td {
    color: #4F4F4F !important;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 9px;
    text-shadow: none !important;
}

.mini-cart .table tfoot td.monetary {
   color: #4B579B !important;
   font-weight: 600;
}

.payment-submit-wrap {
    padding:1em;

}


#go-to-cart-button {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    text-shadow: none !important;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    border: 1px solid rgb(235, 235, 235) !important;
    color: #4F4F4F !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 1em;
}

#go-to-cart-button small a {
    color: #4F4F4F !important;
    font-weight: 600;
    font-size: 14px;
}


#edit-profile-data i, .link-box-edit i {
  display: block !important;
}



th.product, th.shipping-date, th.product-price, th.quantity-price, th.quantity {
    font-size: 16px;
    color: #454545;
    font-family: sans-serif;
    font-weight: bold;
}



.cart {
    border: solid 2px #D6D6D6;
    border-radius: 15px;
  margin-bottom: 3em !important;
  padding: 4px;
}

.cart thead {
    border-bottom: solid 2px #D6D6D6;
}


#cart-title{
  display:none !important;
}

.container-cart {
  margin-top:6em
}

table thead:first-child tr:first-child th {
  height: 2em;
    vertical-align: inherit
}

#shipping-preview-container .srp-content .srp-main-title {
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}
tbody {

}

td a {
    color: #4F4F4F;
}

.product-image img {
    color: transparent;
    height: 70px;
    max-width: 70px;
    width: 70px;
    border: solid 2px #95DFF0;
    padding: 3px;
    border-radius: 15px;
}

.quantity-price .total-selling-price {
    font-weight: bold;
    color: #454545;
}

.icon.icon-remove.item-remove-ico {
    color: #35C8E7;
}

.onda-v1 .f3 {
  color: #333;

}

.link-choose-more-products {
    font-size: 18px;
    padding: 12px;
    color: #4F4F4F;
    border-radius: 25px;
    font-size: 17px;
    font-family: Arial;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    border-radius: 25px;
    border: solid 2px #D6D6D6;
    padding-left: 41px;
    padding-top: 12px;
    padding-right: 41px;
}

.btn-place-order {
  font-size: 17px;
    background-color: #194176 !important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    padding-left: 41px;
    padding-top: 12px;
    padding-right: 41px;
}

.coupon-label label {
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}

#cart-coupon {
    box-shadow: none !important
}

#cart-coupon-add {
    font-size: 17px;
    background-color: #194176!important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 22px;
    border-radius: 25px;
    box-shadow: none;
    border: none;
    color: white;
    margin-left: -26px;
}


.srp-delivery-select-container .srp-delivery-current-many {
    border-color: transparent !important;
    border: solid 2px #D6D6D6 !important;
    border-radius: 22px;
}

.srp-delivery-current-many__description .srp-delivery-current-many__text .srp-delivery-current-many__name  {
    color: #454545 !important;
    font-weight: 700 !important;
}

.srp-address-title  {
      color: #5062C2 !important;
    font-weight: 800;
}

tfoot {
  
  background-color:#F2F2F2;
}

tfoot tr{
  color: #2F6CA7;
    font-weight: 700;
}


.full-cart .summary-totalizers .info {
    text-align: left;
    padding-left: 2em;
  font-size: 16px;
}


.quantity input {
  
  border: none !important;
  box-shadow: none !important;
}

.srp-delivery-header span strong {
  font-weight: 500;
}


.link-coupon-add {
    color: #fff!important;
    font-weight: 200;
    font-size: 20px;
    border: solid 1px #194176;
    border-radius: 25px;
    padding: 12px;
    background-color: #194176;
}



.srp-main-title .srp-data {
  margin-top: 2em
}



.summary-template-holder .accordion-inner {
    padding: 0;
    margin-top: 3em;
}


.onda-v1 .b--light-gray {
    border-color: transparent !important;
}

.srp-main-title  {
      color: #333;
}





@media screen and (max-width: 660px) { 
    .product-image img {
    color: transparent;
    height: 45px;
    max-width: 45px;
    width: 45px;
}
 
  
  
 .full-cart .cart table tbody tr td.quantity {
  border: solid 1px #5062C2;
    border-radius: 25px;
  padding-left: 6px;
    padding-right: 6px;
}
 .new-product-price {
    color: #5062C2;
    font-weight: 200;
  }
  
  .full-cart .cart table tbody {
    border-top: none;
    border: solid 1px #E0E0E0;
    border-radius: 10px;
  }
  
  .srp-main-title {
    color:#2F6CA7
    
  }
  
  .link-coupon-add {
    font-size: 14px;
    float: left;
    color: #2F6CA7;
    text-decoration: underline;
    border: none;
  }
  
  #cart-choose-more-products {
    display: none;
  }
  
  .full-cart .summary-totalizers .info {
    text-align: right;
  }
  
  tbody {
    border: none;
    border-top: none;
}
  
  tfoot {
    border: none;
    background-color: white;
}
  
  .btn-place-order {
        background-color: #00506D !important;
    color: #8BCEE6;
      padding-left: 31px;
    padding-top: 12px;
    /* text-align: center; */
    padding-right: 31px;
    width: 60% !important;
  }
  
  .cart-links-bottom {
    
    margin-left: 12%;
}

  
  .col-pague-com, .col-seguranca {
    display: block !important;
        width: 100% !important;
    text-align: center;
  }
  
  .container-cart {
    margin-top: 2em;
}

}