#depto-banner .box-banner a img {
    height: auto;
    margin-bottom: 1.5em;
}

hr {
    border-top: 1px solid #BDBDBD !important;
}

.title-category {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.resultado-busca-filtro > fieldset select {
    border-radius: 20px !important;
    border: 1px solid #808080 !important;

}

.orderBy label {
    font-weight: 300 !important;
    margin-right: 1em;
}

.compare, .main :last-child .resultado-busca-filtro {
    display: none !important;
}

#admake-advanced-filter {
    border: none;
}

.fa-square-o {
    color: #D5D5D5;
    padding: 2px;
    border-radius: 3px;
}
.filtro-ativo .fa-square-o {
    background-color: #4150AA;
    padding: 2px;
    border-radius: 3px;
}

#admake-advanced-filter .opcoes .ver-filtros:after {
    color: #4150AA !important;

}

#admake-advanced-filter h2 {
    display: none;
}

.filtro-ativo .fa-square-o:before {
    content: "\f00c" !important;
    color: white;
}

.installment {
    color: #4F4F4F !important;
}
#admake-advanced-filter .box-filtro.checkbox li a {
    color: #4F4F4F !important
}

#admake-advanced-filter > .box-filtro h3 {
    color: #4F4F4F !important;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 35px !important;
}
@media (max-width: 1700px) {
  
    .sidebar h2, .filtros-ativos h2 {
        font-size: 25px !important;
    }

}

@media (max-width: 500px) {
  
    #content {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

}