#depto-banner .box-banner a img {
    height: auto;
    margin-bottom: 1.5em;
}

hr {
    border-top: 1px solid #BDBDBD !important;
}

.title-category {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.resultado-busca-filtro > fieldset select {
    border-radius: 20px !important;
    border: 1px solid #808080 !important;

}

.orderBy label {
    font-weight: 300 !important;
    margin-right: 1em;
}

.compare, .main :last-child .resultado-busca-filtro {
    display: none !important;
}

@media (max-width: 1700px) {
  
    .sidebar h2, .filtros-ativos h2 {
        font-size: 25px !important;
    }

}

@media (max-width: 500px) {
  
    #content {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

}