.menu-departamentos{
font-family: Arial !important;
}


.fulltext-search-box {
    color: #8695ac !important;
    /* border-radius: 20px !important;*/
    outline-style: none;
    box-shadow: none;
    border-right: transparent !important;
    border-radius: 40px !important;
    font-size: 1.4em;
    height: 3.5em;
    border: none !important;
}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none !important;
    background: none !important;
}


.destaques-display .row h3 {
    margin-left: 0.8em;
}

.menu-item-texto i {
    font-size: 20px;
    margin-left: 18px;
}

.subcat {
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

/*#todas ul li {
    width: 17em;
}*/

#todas ul li a i {
    float: right;
    font-size: 25px;
    margin-top: -5px;
    margin-right: 16px;
}

.menu-departamentos {
    display: block !important;
    overflow: visible !important;
}

#orcamento-btn {
    font-weight: bold;
    color: white !important;
    background-color: #38B7F8;
    border-radius: 50px;
    line-height: 6px;
    margin-top: 0.5em;
    padding-left: 4em;
    /* padding-top: 15px; */
    padding-right: 4em;
}

#top-menu {
    background-color: #DEE3E6;
    margin-bottom: 0px !important;
}

/*#storenav li {
    margin-left: 2.1em;
    margin-right: 2.1em;
}*/

#storenav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    float: none !important;
}
#storenav li a {
    color: black;
    font-size: 18px;
}

/*#admake-advanced-filter {
    display: none !important;
}*/

.deptonav {
    background-color: #05488A;
    padding: 3em;
    position: absolute;
    z-index: 9999999;
    padding-right: 0px;
    width: 100%
}

.deptonav#todas {
    background-color: transparent;
    padding: 0;
}

.deptonav li a {
    color: white;
    font-weight: 600;
}

.deptonav#todas li a {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.deptonav#todas li:hover a {
    color: white;
}

.deptonav li {
    margin-bottom: 3em;
}

.deptonav#todas li {
    margin-top: 1em;
    margin-bottom: 10px !important;
    padding: 4px;
}

.deptonav#todas li:hover {
    background-color: #31B2FE;
}

.header .search .busca {
    border: 1px solid #ccc;
    border-radius: 40px;
}

.icon-dropdown button img {
    height: auto;
    width: 43px;
    /*    max-width: 43px; comecar a fazer assim */
}

#ajuda, a.btn-login{
    background-color: #5062C2 !important;
    border-radius: 30px;
    color: white !important;
    font-weight: bold !important;
    margin: 1em
}

#atendimento, a.btn-orders {
    background-color: white;
    border-radius: 30px;
    color: #5062C2 !important;
    margin: 1em;
    border: 2px solid #5062C2;
}

.numeros {
    margin-bottom: 1em;
}

.numeros i {
    margin-left: -1em;
    margin-right: 0.8em;
    font-size: large;
}

.header-container {
    position: sticky;
    top: 0px;
    z-index: 10000000;
    background-color: white;
    padding-top: 0.6em;
}

/*logo agora é 350 width*/

.btn-orders, .btn-login {
    border: none;
    box-shadow: none;
    background-color: white !important;
}

.btn-buscar {
    background-image: url(/arquivos/lupa.png) !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    background-position: center center;
    color: transparent !important;
    outline-style: none;
    box-shadow: none;
    border: none !important;
    background-color: white !important;
    /* border-radius: 0px 40px 40px 0px !important*/
    ;
    border-left: 2px solid #808080 !important;
    border-radius: 0 !important;
}

.btn-mini-cart {
    border-color: transparent;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    background-color: #5062C2 !important;
}

#mobile-cart, #desktop-cart {
    border-color: transparent !important;
    outline-style: none;
    box-shadow: none;
}

.header .button-menu-xs .btn {
    border-color: transparent !important;
}

.fa.fa-bars, .fa.fa-times {
    color: white !important;
    font-size: 25px !important;
}

.btn-open-menu-xs  .fa.fa-bars {
    color: #1C4175
}


@media screen and (max-width: 1700px) {
    #storenav li {
      /*  margin-left: 0.1em;
        margin-right: 0.1em;*/
    }
    #storenav li a {
        font-size: 14px;
    }
}
@media screen and (max-width: 900px) {
    .header .search .btn-buscar {
        border-radius: 26px;
        width: 18%;
    }

    .header .container-fluid {
        padding-right: 15px !important;
    padding-left: 15px !important;
    }
    #propostas {
        padding-bottom: 0em;
        padding-top: 0em;
    }

    #mobile-cart img {
        width: 3em;
    }

    .header .mini-cart{
        margin-left: -1%;
    }

    #menu-mobile {
        background-color: #5062C2;
    }
    .dropdown-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        display: block;
        background-color: transparent;
        border: none;
    }
    .dropdown-container a {
        margin: 1em;
        color: white;
        font-size: 16px;
        display: block;
    }
    .sidenav,.link-login a, .link-orders a {
        color: white !important;
    }


}




@media screen and (max-width: 1700px) {
    .deptonav#todas .row .col-sm-2 {
        width: 25% !important;
        margin-left: 15px !important;
    }
}


@media (min-width: 1200px) {
.header .search .btn-buscar {
    width: 5%;
    /* padding-left: 1em; */
    margin-left: 22px;
}
}