.titulo-institucional {
    font-weight: bold;
    color: #2F6CA7;
    font-size: 2.2em;
    border-bottom: none;
}

#content-info{
    color: #000
}


#content-info h4{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

#content-info h4 img{
    max-width: 21px;
    margin-left: 6px;
}

#content-info p{
    margin-bottom: 3em;
}
