.prateleira .product-name a {
    color: #4F4F4F !important;
    font-size: 22px !important;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Open Sans';
}

.prateleira .product-image img {
    max-width: 100%;
}

.installment {
    color: #4F4F4F !important;
}
.prateleira .box-item {
    text-align: left !important;
    height: 489px !important;
}
.prateleira .box-item:hover img {
    opacity: 1;
}
.prateleira .product-name {
    margin-bottom: 1em;
    min-height: 108px !important;
}

.product-image::after {
    content: none !important;
    background: none !important;
}
.buy-button-qtd {
    visibility:hidden
}
.box-item:hover {
    border: solid 1px rgb(245, 245, 245);
    border-radius: 10px;
}
.box-item:hover .buy-button-qtd {
    visibility: visible;
}
.buy-button-qtd .amount-in-cart {
    display: inline-block;
    border: solid 2px #5062C2 !important;
    border-radius: 10px;
    width: 54px;
    text-align: center;
    margin-right: 10px;
    height: 2.45em;
    margin-top: -6px;
    font-size: 17px;
    font-weight: bold;
    color: #444;
}

#box-bread-brumb li a span {
    text-transform: capitalize;
}

.prateleira .buy-button-qtd .btn-add-buy-button-asynchronous {
    font-family: 'Open Sans' !important;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background-color: #5062C2 !important;
    border-radius: 11px !important;
}

.prateleira .buy-button-qtd .btn-add-buy-button-asynchronous img {
    width: 21px;
    margin-right: 7px;
}

.prateleira .btn-add-buy-button-asynchronous .fa-lock {
    display: none !important;
}

.prateleira .btn-add-buy-button-asynchronous .fa-shopping-cart {
    margin-right: 9px;
}

.prateleira .price .best-price {
    font-weight: bold;
    font-size: 25px !important;
    font-family: 'Open Sans' !important;
    color: #5062C2 !important;
    margin-bottom: 12px;
}

@media (min-width: 1700px) {
  
    .prateleira .buy-button-qtd .btn-add-buy-button-asynchronous {
       
    font-size: 19px
    }
    
    .prateleira .buy-button-qtd .btn-add-buy-button-asynchronous img {
        width: 27px;
        margin-right: 10px;
    }
    .buy-button-qtd .amount-in-cart {
        width: 54px;
        text-align: center;
        margin-right: 1em;
        height: 2.85em;
        margin-top: -6px;
        font-size: 17px;
        font-weight: bold;
        color: #444;
    }
    
}

@media (max-width: 700px) {
    .prateleira .product-name {
        min-height: 40px !important;
    }
    .prateleira .box-item {
        height: 412px !important
    }
    .prateleira .product-image img {
        max-width: 75%;
    }
    .buy-button-qtd {
        visibility: visible !important;

    }

    #home-content .owl-controls .owl-buttons>div.owl-prev img,  #home-content .owl-controls .owl-buttons>div.owl-next img {
        max-width: 50% !important;
    }

    .prateleira .product-name a {
        font-size: 18px !important;
    }
    .prateleira .price .best-price {
        font-size: 23px !important;
    }
}