.product-details .product-name .productName {
    color: #4F4F4F !important;
    font-size: 30px;
    font-weight: 600 !important;
    font-family: 'Open Sans';
    line-height: 41px !important;
}

#box-bread-brumb li:before {
    content: ">" !important;
}

#box-bread-brumb li.last a {
    color:#5062C2 !important;
    font-weight: 600 !important;

}

#comprar-flutuante .descricao-preco .valor-por strong, .product-details .price-box .descricao-preco .valor-por strong {
    color: #5062C2 !important;
    font-family: 'Open Sans';
    font-size: 33px;
}

.product-details .price-box, .product-info .shipping-box {
    border-bottom: none !important;
    border-top: none !important;
}

.product-info .buy-button-box{
    margin-top: 50px !important;
    margin-bottom: 50px;  
}

.product-info  .buy-button-box .buy-button-box-cart {
   /* margin-top: 50px !important;*/
   margin-right: 2em;
   display: inherit;
}
.added-to-cart {
    display: none;
}
.go-to-cart-button {
   /* font-family: 'Open Sans';
    font-weight: bold;
    color: #fff;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00B8FB !important;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 45px;
    font-size: 25px;
    text-decoration: none;*/

}

.add-to-cart-button {
    
    /*border-radius: 45px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 9px;
    display: inherit;
    background-color: #5062C2;
    margin-left: 2em;*/
}

.add-to-cart-button p {
    color: white;
    font-size: 18px;
    background-color: transparent;
    margin-left: 0.8em;
    margin-right: 0.8em;
    text-decoration: none;
    outline-style: none;
    box-shadow: none;
    line-height: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
}

.product-info .shipping-box label {
    color: #4F4F4F !important;
    font-size: 15px !important;
    font-weight: 700;
    font-family: 'Open Sans';
}

#minitruck{
    width: 28px;
    margin-top: -5px;
}

.product-info .shipping-box label .fitext{
    border: 2px solid #D3D3D3 !important;
    border-radius: 50px !important;
    border-right-color: transparent;
}

.product-info .shipping-box .freight-btn{
    background: #5062C2 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 50px;
    font-family: "Open Sans";
    padding-left: 1em;
    padding-right: 1em;
    border: none !important;
    padding-top: 5px;
    margin-left: -36px;
    margin-top: -3px;
    padding-bottom: 5px;
}


.product-description-box .title {
    text-align: left;
    font-size: 22px;
    color: #4F4F4F !important;
}

.product-description-box .productDescription{
    text-align: left;
}

.sku-selector-container {
    margin-top: 3em;
    border-left: solid 1px #A7A7A7;
    padding: 20px;

}
.price-box .sku-selectors {
    margin-bottom: -3em;
}
.item-dimension-Voltagem span input, #caracteristicas h4 {
    display: none;
}

.item-dimension-Voltagem span label {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 5px 10px;
    border: solid 1px #777;
    border-radius: 25px;

} 
.sku-selector-container ul .specification {
    float: left;
    margin-right: 3em;
    font-size: 16px;
    color: #A7A7A7;
    font-weight: 500;
    margin-top: 10px;
}

.sku-selector-container  .topic{
    margin-bottom: 1em;
}

#box-bread-brumb ul {
    margin-top: 1em;
}

.ribbon-side {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #5062C2;
    transform: rotate(-90deg);
    margin-left: -1.4em;
    margin-bottom: -1.7em;
    float: left;
}

.product-description #caracteristicas tr.even {
    background-color: #D7D7D7;
}

.product-description #caracteristicas th, .product-description #caracteristicas td {
    color: #4F4F4F !important;
    font-weight: 200 !important;
}

#calculoFrete {
    margin-top: -3em;
}
.qtd-field {
    width: 30px;
    text-align: center;
    border: none !important;
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.btn-mais, .btn-menos {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.btn-menos{
    margin-bottom: 1px !important;
}

.cart-counter, .buy-button-box, .product-description .product-description-box .title, .product-description .productDescription {
    display: inline-block;
}
.cart-counter h5{
    color: #4F4F4F !important;
    font-size: 18px;
    font-weight: 200 !important;
    font-family: 'Open Sans';
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.product-description .product-description-box .title {
    border-bottom: none !important;
    color: #6C6C6C !important;
    margin-right: 10px;
    font-size: 20px;
}

.product-description .productDescription {
    color: #6C6C6C !important;
    font-size: 20px !important;
}

.product-description .product-description-box h4{
    border-bottom: none !important;
    color: #6C6C6C !important;
    font-size: 20px;
}

#reviews .avalie-produto #opcoes-avalie .firadio {
    margin-top: -6px;
}

#reviews .avalie-produto #opcoes-avalie label {
    font-family: 'Open Sans';
    margin-right: 10px;
}
#reviews .avalie-produto h5, .media{
    color: #6C6C6C !important;
    font-family: 'Open Sans';
}


#reviews #formUserReview .avaliar a, #reviews #lnkPubliqueResenha {
    background-color: #5062C2 !important;
    border-radius: 15px !important;
    font-family: 'Open Sans';
    font-weight: bold !important;
}


#image-main {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    width: 100%;
}

.product-image .apresentacao .thumbs li {
    padding: 4px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
    border-radius: 15px;
}
#publishUserReview #formUserReview {
    margin-top: 8%;
}










.zoomPad {
    position: relative;
    float: left;
    z-index: 99;
    cursor: crosshair
}

.zoomPreload {
    -moz-opacity: .8;
    opacity: .8;
    filter: alpha(opacity=80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: #fff;
    padding: 8px;
    text-align: center;
    background-image: url(/arquivos/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 110;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.zoomPup {
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60);
    z-index: 120;
    position: absolute;
    border: 1px solid #CCC;
    z-index: 101;
    cursor: crosshair
}

.zoomOverlay {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    z-index: 5000;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101
}

.zoomWindow {
    position: absolute;
    left: 445px !important;
    top: 40px;
    background: #FFF;
    z-index: 6000;
    height: auto;
    z-index: 10000;
    z-index: 110;
}

.zoomWrapper {
    position: relative;
    z-index: 110;
    width: 531px !important;
    height: 400px !important;
}

.zoomWrapperTitle {
    display: block;
    background: #999;
    color: #FFF;
    height: 18px;
    line-height: 18px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60)
}

.zoomWrapperImage {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
    height: 400px !important;
}

.zoomWrapperImage img {
    border: 0;
    display: block;
    position: absolute;
    z-index: 101
}

.zoomIframe {
    z-index: -1;
    filter: alpha(opacity=0);
    -moz-opacity: .8;
    opacity: .8;
    position: absolute;
    display: block
}

.product-description-box {
    float: inherit;
}











@media screen and (max-width: 1700px) and (min-width: 1100px) {
    .qtd-field {
        
        font-size: 20px;
    }
    
    .btn-mais, .btn-menos {
        font-size: 20px;
    }

    .go-to-cart-button {
       /* padding-left: 1.7em;
        padding-right: 1.7em;
        font-size: 20px;
        padding-top: 19px;
        padding-bottom: 14px;*/
    
    }
    
    /*.add-to-cart-button {
        padding-left: 17px;
        padding-right: 17px;
        font-size: 15px;
        margin-left: 0em;
    }*/

    
#image-main {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 15px;
    width: 100%;
    margin-right: -55%;
}

.product-image .zoomPad {
    margin-left: 0em;
}

}

@media screen and (max-width: 1100px) {
    #product-content {
        padding-left: 15px !important;
    padding-right: 15px !important;
    }
    #image-main {
        width: 100%;
    }
    .product-image .apresentacao .thumbs li {
        margin-top: 1em;
    }

    .buy-button-box{
        display: block
    }
   
    .go-to-cart-button {
        text-align: center;
    display: block;
    font-size: 22px;
    }
    /*.add-to-cart-button {
    text-align: center;
    display: block;
    margin-left: 0;
    margin-top: 1em;
    font-size: 17px;
    }*/

    .product-description-box .productDescription {
        text-align: left;
    margin-bottom: 2em;
    }

    #calculoFrete {
        margin-top: 0em;
    }

    .product-details .price-box {
        margin-bottom: 2em;
    }
    
}


@media screen and (min-width: 1701px) {
    .product-image .zoomPad {
       
        margin-left: 10em;
    }
}